body {
  font-size: 14px;
}

nav {
  background-color: yellow; /*not seeing this yellow background*/
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

h1 {
  font-family: sans-serif;
  font-size: 2em;
}
/*above describing the header reading "this example should span" etc.*/

.example, h3 {
  padding-top: 30px;
  text-align: center
}
/*essentially the above is centering and defining the padding for most elements on the page*/

h3 {
  font-size: 1.3em;
}
/*this is broken out because we don't want .example to pick up the smaller font size*/

.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

.element_2 {
  background-color: orange;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}
/*I went into index.html and created a new class to change the color of the last 3 div elements
*/
/* could this have been done more elegantly with a .feature? I didn't do this because it would mean I had to class selectors in a line (.element .element2)
*/
